flows.json
[
    {
        "id": "8d3d59b13fbdb9e6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d6a6a02e4c6d4dd",
        "type": "group",
        "z": "8d3d59b13fbdb9e6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f0e10fb07d53b7c1"
        ],
        "x": 1014,
        "y": 139,
        "w": 192,
        "h": 82
    },
    {
        "id": "1208dde74d34d540",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "616bd4cf54aeefe4",
        "type": "ui_tab",
        "name": "Greenhouse",
        "icon": "local_florist",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8bb56d83c8cac718",
        "type": "ui_group",
        "name": "Air Sensors",
        "tab": "616bd4cf54aeefe4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1137c9401814589d",
        "type": "ui_group",
        "name": "Water Sensors",
        "tab": "616bd4cf54aeefe4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65185e13b5985d1a",
        "type": "ui_group",
        "name": "Light Sensors",
        "tab": "616bd4cf54aeefe4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7046b2d879b678c2",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "616bd4cf54aeefe4",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65984449207d671a",
        "type": "mqtt-broker",
        "name": "temperatureCharacteristic",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f0e10fb07d53b7c1",
        "type": "ui_chart",
        "z": "8d3d59b13fbdb9e6",
        "g": "6d6a6a02e4c6d4dd",
        "name": "Temparature",
        "group": "8bb56d83c8cac718",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "490a6c01e27f9b2b",
        "type": "mqtt in",
        "z": "8d3d59b13fbdb9e6",
        "name": "Temperature",
        "topic": "greenhouse/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65984449207d671a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "f0e10fb07d53b7c1"
            ]
        ]
    },
    {
        "id": "75a41522a3366b08",
        "type": "ui_chart",
        "z": "8d3d59b13fbdb9e6",
        "name": "Humidity",
        "group": "8bb56d83c8cac718",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#3465a4",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0c4a20e4dc8b440f",
        "type": "mqtt in",
        "z": "8d3d59b13fbdb9e6",
        "name": "Humidity",
        "topic": "greenhouse/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65984449207d671a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 280,
        "wires": [
            [
                "75a41522a3366b08"
            ]
        ]
    },
    {
        "id": "a9f3eecac2f86b69",
        "type": "mqtt in",
        "z": "8d3d59b13fbdb9e6",
        "name": "Daily Light Integral",
        "topic": "greenhouse/dli",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65984449207d671a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 380,
        "wires": [
            [
                "bf5225b8aa587ad6"
            ]
        ]
    },
    {
        "id": "56e86fd721036907",
        "type": "mqtt in",
        "z": "8d3d59b13fbdb9e6",
        "name": "Photosynthetic Active Radiation",
        "topic": "greenhouse/par",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65984449207d671a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "666b549cce04afb5"
            ]
        ]
    },
    {
        "id": "bf5225b8aa587ad6",
        "type": "ui_gauge",
        "z": "8d3d59b13fbdb9e6",
        "name": "",
        "group": "65185e13b5985d1a",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Daily Light Integral",
        "label": "[mol/(m²*day)]",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#a40000",
            "#e6e600",
            "#8ae234"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "666b549cce04afb5",
        "type": "ui_chart",
        "z": "8d3d59b13fbdb9e6",
        "name": "PAR",
        "group": "65185e13b5985d1a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "PAR [µmol/(m²*s)]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "ecfe206138367b2a",
        "type": "mqtt out",
        "z": "8d3d59b13fbdb9e6",
        "name": "",
        "topic": "greenhouse/lights",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "65984449207d671a",
        "x": 1110,
        "y": 560,
        "wires": []
    },
    {
        "id": "a57cf057bf1e355b",
        "type": "ui_switch",
        "z": "8d3d59b13fbdb9e6",
        "name": "Greenhouse Lights ON/OFF",
        "label": "Greenhouse Lights",
        "tooltip": "",
        "group": "7046b2d879b678c2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "greenhouse/lights",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 660,
        "y": 560,
        "wires": [
            [
                "ecfe206138367b2a"
            ]
        ]
    },
    {
        "id": "150625471fa0f76a",
        "type": "mqtt in",
        "z": "8d3d59b13fbdb9e6",
        "name": "",
        "topic": "greenhouse/lights",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65984449207d671a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "13b299def0065c46"
            ]
        ]
    },
    {
        "id": "13b299def0065c46",
        "type": "debug",
        "z": "8d3d59b13fbdb9e6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "jsonata",
        "x": 950,
        "y": 720,
        "wires": []
    }
]